body{
    background-image: url(https://img.freepik.com/free-vector/gradient-purple-color-gradient-background-abstract-design-modern_343694-2245.jpg?w=740&t=st=1681226916~exp=1681227516~hmac=e77d8a4e97231ed91a95a0c6fc20812739db0da90d9293b5f881e7dfda4b1a8f);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
a{
    text-decoration: none;
}
.Main{
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(20px);
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.signup-link{
    text-decoration: none;
}
.page
{
    height: 600px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: height .3s ease-in-out;
    overflow: hidden;
    
}
.page.active{
    height: 400px;
    
}
.pbox1 h2{
    transform: translateY(40px);
}
.pbox1 .box{
    transform: translateY(50px);
}
.pbox1 .button{
    margin-top: 70px;
    margin-left: 30px;
    width: 250px;
    height: 40px;
}
.page .pbox{
    height: 500px;
    width: 80%;
    margin-bottom: 70px;
    transform: translateX(165px);
    transition: transform .3s ease;

}
.page .pbox1{
    transition: transform .3s ease;
    height: 400px;
    width: 80%;
    margin-bottom: 70px;
    transform: translateX(300px);
    
}
.pbox1 .log1 img{
    height: 30px;
    width: 30px;
    margin-left: 30px;
}

.pbox1 .log2 img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.pbox1 .log3 img{
    height: 30px;
    width: 30px;
    margin-left: -10px;
}

.pbox1 .dont{
    margin-top: -40px;
}
.page.active .pbox{
    transition: transform .3s ease;
    transform: translateX(-600px);
}
.page.active .pbox1{
    transition: transform .3s ease;
    transform: translateX(-150px);
}
.page.active .backi{
    transform: translatey(100px);
}
.pbox h2{
    text-align:center;
    font-size: 40px;
}
.pbox1 h2{
    text-align:center;
    font-size: 40px;
}



.box{
    position: relative;
    width: 95%;
    height: 50px;
    border-bottom: 3px solid rgb(155, 155, 155);
    margin: 20px;
    margin-left: 5px;
}
.box input{
    position: relative;
    width: 270px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}
.inbox input:focus ~ label{
    transform: translatey(-25px);
}
.box label{
    left: 10px;
    font-weight: 400px;
    transform: translateY(-50%);
    color: rgb(108, 108, 108);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icon{
    
    color: rgb(108, 108, 108);
    font-size: 19px;
}
.i{
    float: left;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 30px;
    width: 30px;
}
.inbox{
    height: 30px;
    width: 370px;
}

.forgot{
    margin: 1px;
    float: right;
    color: rgb(108, 108, 108);
}
.forgot a{
    color: inherit;
}
.f_h1{
    font-size: 13px;
}
.pbox .button:hover{
    transform:scale(1.04);
    transform: translateY(-2px);
}
.submit{
    transition: transform .3s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    margin-left: 9px;
    background-color: aqua;
    border-radius: 360px;
    width: 300px;
    height: 50px;
    background-image: url(https://uploads-ssl.webflow.com/5a9ee6416e90d20001b20038/635aa147487b8374c113c246_horizontal.svg);
}
.button{
    border: none;
    transition: transform .3s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    margin-left: 9px;
    background-color: aqua;
    border-radius: 360px;
    width: 300px;
    height: 50px;
    background-image: url(https://uploads-ssl.webflow.com/5a9ee6416e90d20001b20038/635aa147487b8374c113c246_horizontal.svg);
}
.button h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
    text-align: center;
    font-size:27px;
    color: white;
}
.sq{
    
    width: 100px;
    height: 50px;
    
}
.other_main
{
    height: 80px;
    width: 320px;
}
.or{
    height: 30px;
}
.or p{
    color: rgb(108, 108, 108);
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.log1{
    margin-left: 70px;
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 360px;
}
.log1 img{
    transition: transform .3s ease-in-out;
    height: 50px;
    width: 50px;
    border-radius: 360px;
}
.log1 img:hover{
    transform: scale(1.05);
}
.log2{
    height: 50px;
    width: 50px;
    float: left;
    margin-left:15px ;
    margin-right: 15px;
}
.log2 img{
    transition: transform .3s ease-in-out;
    height: 50px;
    width: 50px;
    border-radius: 360px;
}
.log2 img:hover{
    transform: scale(1.05);
}
.log3{
    height: 50px;
    width: 50px;
    float: left;
}
.log3 img{
    transition: transform .3s ease-in-out;
    height: 50px;
    width: 50px;
    border-radius: 360px;
}
.log3 img:hover{
    transform: scale(1.05);
}
.dont{
    height: 20px;
    width: 320px;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.dont p{
    font-size: 13px;
}
.sign_up{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 20px;
    width: 320px;
}
.sign_up h1{
    font-size: 14px;
}
.back{
    height: 30px;
    width: 30px;
}
.backi{
    position: absolute;
    font-size: 25px;
    margin-top: -550px;
    margin-left: -350px;
    color: rgb(81, 81, 81);
    transition: translatey .3s ease-in-out;
    transition: transform .3s ease-in-out;
}
.backi:hover{
    transform: scale(1.5);
}
.sign:hover{
    text-decoration: underline;
}
.f_h1:hover{
    color: black;
}
