/*Body*/

body{
    background-image: url(https://img.freepik.com/free-vector/gradient-purple-color-gradient-background-abstract-design-modern_343694-2245.jpg?w=740&t=st=1681226916~exp=1681227516~hmac=e77d8a4e97231ed91a95a0c6fc20812739db0da90d9293b5f881e7dfda4b1a8f);
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
a{
    text-decoration: none;
}
.Main{
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page
{
    position: relative;
    height: 600px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all .3s ease-in-out;
   overflow: hidden;
}


/*Back Page*/
.page.active{
    height: 360px;
    
}
.page.nope{
    height: 200px;
    width: 200px;
    transition: all .3s ease-in-out;
}
.page.nope .pbox{
    transform: translateX(-2000px);
}
.re{
    position: absolute;
}
.rel{
    position: absolute;
    font-size: 100px;
    left: 17px;
    top: 15px;
    rotate: 20%;
    color: rgb(81, 81, 81);
    transform: scale(0);
    transition: all .1s ease;
    
}
.page.nope .rel{
    transform: scale(1.7);
    transition: all .1s ease;
}
.rel:hover {
    rotate: 45px;
  }






/*Login Page*/

.wrong{
    position: absolute;
    font-size: 10px;
    left: 0px;
    top: 50px;
    color: rgba(255, 255, 255, 0.95);
    font-family: Arial, Helvetica, sans-serif;
}
.wrong.fail{
    color: red;
}

.signup-link{
    text-decoration: none;
}

.page .pbox{
    position: absolute;
    height: 500px;
    width: 310px;
    margin-bottom: 70px;
    transition: transform .3s ease;
}



.page.active .pbox{
    transition: transform .3s ease;
    transform: translateX(-600px);
}

.backi{
    position: absolute;
    font-size: 25px;
    margin-top: -550px;
    margin-left: -350px;
    color: rgb(81, 81, 81);
    transition: all .3s ease-in-out;
}
.backi:hover{
    transform: scale(1.5);
}
.backi1{
    text-align: center;
    position: absolute;
    font-size: 0px;
    transform: translate(-175px,-275px);
    color: rgb(255, 8, 8);
    transition: all .3s ease-in-out;
    
}
.pbox h2{
    text-align:center;
    font-size: 40px;
}
.box{
    position: relative;
    width: 95%;
    height: 50px;
    border-bottom: 3px solid rgb(155, 155, 155);
    margin: 20px;
    margin-left: 5px;
}
.box input{
    position: relative;
    width: 270px;
    height: 30px;
    border: none;
    outline: none;
    background-color: transparent;
}
.button1{
    border: none;
    transition: transform .3s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    margin-left: 9px;
    background-color: aqua;
    border-radius: 360px;
    width: 300px;
    height: 50px;
    background-image: url(https://uploads-ssl.webflow.com/5a9ee6416e90d20001b20038/635aa147487b8374c113c246_horizontal.svg);
}
.button1 h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
    text-align: center;
    font-size:27px;
    color: white;
}
.icon{
    
    color: rgb(108, 108, 108);
    font-size: 19px;
}
.i{
    float: left;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 30px;
    width: 30px;
}
.inbox{
    height: 30px;
    width: 370px;
}

.forgot{
    margin: 1px;
    float: right;
    color: rgb(108, 108, 108);
}
.forgot a{
    color: inherit;
}
.f_h1{
    font-size: 13px;
}
.dont{
    height: 20px;
    width: 320px;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.dont p{
    font-size: 13px;
}
.sign_up{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 20px;
    width: 320px;
}
.sign_up h1{
    font-size: 14px;
}
.back{
    height: 30px;
    width: 30px;
}

.sign:hover{
    text-decoration: underline;
}
.f_h1:hover{
    color: black;
}






/*Email page*/
.l-mail.fail{
    color: rgb(255, 0, 0);
}

.page .pbox1{
    position: absolute;
    transition: transform .3s ease;
    height: 340px;
    width: 310px;
    margin-bottom: 90px;
    transform: translateX(700px);
    
}
.page.active .pbox1{
    transition: transform .3s ease;
    transform: translateX(0px);
}
.pbox1 .log1 img{
    height: 30px;
    width: 30px;
    margin-left: 30px;
}

.pbox1 .log2 img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}
.pbox1 .log3 img{
    height: 30px;
    width: 30px;
    margin-left: -10px;
}

.pbox1 .dont{
    margin-top: -40px;
}
.page.active .backi{
    transform: translatey(100px);
    font-size: 0px;
}

.page.active .backi1{
    transform: translate(-175px,-155px);
    font-size: 25px;
}
.pbox1 h2{
    text-align:center;
    margin-top: 50px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(121, 49, 173);
}

.page.DOB .pbox1{
    transition: transform .3s ease;
    transform: translateX(-550px);
}

.pbox label,.pbox1 label,.pbox2 label{
    left: 10px;
    font-weight: 400px;
    transform: translateY(-50%);
    color: rgb(108, 108, 108);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pbox .button1:hover{
    transform:scale(1.04);
    transform: translateY(-2px);
}

.button{
    border: none;
    transition: transform .3s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
    margin-left: 9px;
    background-color: aqua;
    border-radius: 360px;
    width: 300px;
    height: 50px;
    background-image: url(https://uploads-ssl.webflow.com/5a9ee6416e90d20001b20038/635aa147487b8374c113c246_horizontal.svg);
}

.button h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
    text-align: center;
    font-size:27px;
    color: white;
}

.other_main
{
    height: 80px;
    width: 320px;
}
.or{
    height: 30px;
}
.or p{
    color: rgb(108, 108, 108);
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.log1{
    margin-left: 70px;
    height: 50px;
    width: 50px;
    float: left;
    border-radius: 360px;
}
.log1 img{
    transition: transform .3s ease-in-out;
    height: 50px;
    width: 50px;
    border-radius: 360px;
}
.log1 img:hover{
    transform: scale(1.05);
}
.log2{
    height: 50px;
    width: 50px;
    float: left;
    margin-left:15px ;
    margin-right: 15px;
}
.log2 img{
    transition: transform .3s ease-in-out;
    height: 50px;
    width: 50px;
    border-radius: 360px;
}
.log2 img:hover{
    transform: scale(1.05);
}
.log3{
    height: 50px;
    width: 50px;
    float: left;
}
.log3 img{
    transition: transform .3s ease-in-out;
    height: 50px;
    width: 50px;
    border-radius: 360px;
}
.log3 img:hover{
    transform: scale(1.05);
}


.pbox1 .button{
    transition: transform .3s ease;
}
.pbox1 .button:hover{
    transform: translateY(-2px);
}
.check{
    color: green;
    position: absolute;
    left: 275px;
    top: 30px;
    font-size: 0px;
}
.check.true{
    font-size: 19px;
}











/*Date of Birth*/
.page .pbox2{
    position: absolute;
    height: 500px;
    width: 310px;
    margin-bottom: 70px;
    transform: translatex(500px);
    top: -10px;
    transition: all .3s ease-in-out;
}
.page.DOB .pbox2{
    transform: translatex(0px);
}


.page.DOB .backi1{
    transform: translate(-175px,-178px);
}

.page.DOB{
    height: 400px;
}

.D-day{
    float: left;
    width: 110px;
}
.day{
    width: 90px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    margin-left: -15px;
    border: 1px solid rgb(121, 121, 121);
}
.D-month{
    margin-left: 10px;
    float: left;
    width: 80px;
    
}
.month{
    width: 90px;
    height: 50px;
    border-radius: 10px;
    margin-left: -7px;
    outline: none;
    border: 1px solid rgb(121, 121, 121);
}
.D-year{
    float: left;
    width: 110px;
}
.year{
    border: 1px solid rgb(121, 121, 121);
    width: 90px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    margin-left: 40px;
}
.D-gender{
    float: left;
    width: 110px;
}
.gender{
    width: 345px;
    height: 50px;
    border-radius: 10px;
    outline: none;
    margin-left: -15px;
    margin-top: 30px;
}

.pbox2 .l-day{
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 13px;
    top: 183px;
    font-size: 18px;
    font-family: Inter,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all .3s ease;
}
.D-day.active .l-day{
    left: 0px;
    top: 150px;
    transition: all .3s ease;

}
.pbox2 .l-month{
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 125px;
    top: 183px;
    font-size: 18px;
    font-family: Inter,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all .3s ease;
}
.D-month.active .l-month{
    left: 123px;
    top: 150px;
    transition: all .3s ease;
}
.pbox2 .l-year{
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 265px;
    top: 183px;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all .3s ease;
}
.D-year.active .l-year{
    left: 245px;
    top: 150px;
    transition: all .3s ease;

}
.pbox2 .l-gender{
    position: absolute;
    left: 4px;
    top: 261px;
    font-size: 20px;
    background-color: white;
    transition: all .3s ease;
}
.D-gender.active .l-gender{
    left: -5px;
    top: 230px;
    transition: all .3s ease;

}
.pbox2 h2{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(121, 49, 173);
    text-align: center;
}
.pbox2 .p1{
    text-align:center;
    margin-top: -17px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.pbox2 .p2{
    text-align:center;
    margin-top: -18px;
    font-size: 15px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.button-back{
    position: absolute;
    border: none;
    transition: transform .3s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
    left: -15px;
    top: 320px;
    height: 50px;
    width: 140px;
    background-color: aqua;
    border-radius: 360px;
    background-image: url(https://uploads-ssl.webflow.com/5a9ee6416e90d20001b20038/635aa147487b8374c113c246_horizontal.svg);
}
.button-back h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
    text-align: center;
    font-size:27px;
    color: white;
}

.button-next{
    position: absolute;
    border: none;
    transition: transform .3s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    float: left;
    top: 320px;
    left: 190px;
    height: 50px;
    width: 140px;
    background-color: aqua;
    border-radius: 360px;
    background-image: url(https://uploads-ssl.webflow.com/5a9ee6416e90d20001b20038/635aa147487b8374c113c246_horizontal.svg);
}
.button-next h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
    text-align: center;
    font-size:27px;
    color: white;
}
.D-day.fail .day{
    border: 1px solid rgb(255, 0, 0);
}
.D-month.fail .month{
    border: 1px solid rgb(255, 0, 0);
}
.D-year.fail .year{
    border: 1px solid rgb(255, 0, 0);
}
.D-gender.fail .gender{
    border: 1px solid rgb(255, 0, 0);
}

.form-group .button-next:hover{
    transform: translateY(-3px);
}
.form-group .button-back:hover{
    transform: translateY(-3px);
}


.page.user .pbox2{
    transform: translatex(-500px);
}




/*Username*/
.page.user{
    height: 250px;
}
.page.user .backi1{
    transform: translate(-175px,-102px);
}
.page.user .pbox3{
    transform: translatex(0px);
}
.pbox3{
    transition: all .3s ease-in-out;
    position: absolute;
    margin-top: -80px;
    width: 350px;
    transform: translatex(500px);
}
.pbox3 .inbox{
    position: absolute;
    background-color: transparent;
    width: 500px;
    height: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.pbox3 h2{
    font-size: 38px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(121, 49, 173);
    text-align: center;
}
.pbox3 input{
    position: absolute;
    left: 30px;
    top: 0px;
    height: 38px;
}

.pbox3 .box{
    position: relative;
    top: -10px;
    left: -10px;
    height: 60px;
    width: 350px;
}
.l-username{
    font-weight: 400px;
    color: rgb(108, 108, 108);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pbox3 .button1{
    border: none;
    position: absolute;
    transition: transform .3s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: aqua;
    border-radius: 360px;
    left: -5px;
    top: 140px;
    width: 140px;
    height: 50px;
    background-image: url(https://uploads-ssl.webflow.com/5a9ee6416e90d20001b20038/635aa147487b8374c113c246_horizontal.svg);
}

.pbox3 .button1 h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
    text-align: center;
    font-size:27px;
    color: white;
}
.pbox3 .button2{
    border: none;
    position: absolute;
    transition: transform .3s ease-in-out;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: aqua;
    border-radius: 360px;
    left: 210px;
    top: 180px;
    width: 140px;
    height: 50px;
    background-image: url(https://uploads-ssl.webflow.com/5a9ee6416e90d20001b20038/635aa147487b8374c113c246_horizontal.svg);
}

.pbox3 .button2 h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 60px;
    text-align: center;
    font-size:27px;
    color: white;
}
.pbox3 .box{
    margin-left: 12px;
}

